@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bgcolor{
  background-color: rgba(255, 144, 14, 0.1);
}


.banner , .navbar{
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex{
  display: flex;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
}
.nav-links{
  gap: 10px;
}
/* dark-02 */
.txt-gray{
 color: #424242;
}
/* dark-03 */
.text-light-gray{
  color: #727272;
}
.brand{
  font-size: 3rem;
}
.banner-container{
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
}
.img{
  width: 100%;
  margin-bottom: 2.8rem;
}
.btn{
  font-size: 1.2rem;
  color: white;
  padding: 21px 25px;
  margin: 3.1rem 0px;
  background-color: #FF900E;
  border-radius: 0.5rem;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
.feature-container{
  max-width: 1318px;
  margin: 0 auto;
  display: flex;
  align-items: center;

}

.team-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.feature{
  max-width: 530px;
  margin-left: 73px;
}
.feature h1{
  font-size: 2.8rem;
}
.quick{
  font-weight: 400;
}
.feature-text{
  color: #FF900E;
}
.feature p{
  font-size: 16px;
  margin-bottom: 32px;
  text-align: justify;
}
.btn-1{
  font-size: 1.2rem;
  color: white;
  padding: 21px 25px;
  background-color: #FF900E;
  border-radius: 0.5rem;
  border: none;
}
.some-facts{
  max-width: 1389px;
  margin: 130px 50px;
  /* text-align: center; */
}
.some-facts p{
  max-width: 542px;
  font-size: 16px;
}
.some-facts h3{
  font-size: 2.8rem;
  margin-bottom: 24px;
}
.card-container{
  max-width: 1340px;
  margin: 0 auto;
  /* margin-left: 30px; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  gap: 7.7rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:576px){
  .navbar,.nav-links{
    flex-direction: column;
  }
  .feature-container{
    flex-direction: column;
    /* margin: 0px 0px; */
  }
  .team-container{
    grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (min-width: 576px) and (max-width: 927px){
  .feature-container{
    flex-direction: column;
  }
  .feature{
    margin: 0 auto;
    padding: 20px;
  }
}